/* google font properties start*/
.inter-font1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-font2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* google font properties close */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}
/* common style section start */
.btn-cmn {
  background-color: #4e47ff;
  font-family: "Raleway", sans-serif;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border-style: none;
}
.btn-cmn:hover {
  color: black;
  background-color: yellow;
  font-family: "Raleway", sans-serif;
  transition: 0.4s;
}
/* common style section close */
body {
  background-color: #f5f8ff;
}
/* header style section start */
header {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
}
nav {
  display: flex;
  padding: 50px 0;
  align-items: center;
}
.logo-section {
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-left: 150px;
}
.logo {
  text-decoration: none;
}
.sign-up-btn {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-right: 150px;
}
.header-heading {
  width: 900px;
  margin-top: 160px;
  text-align: center;
}
.header-heading h1 {
  font-size: 65px;
  font-weight: bold;
}
.focus-btn {
  margin-top: 36px;
  margin-bottom: 150px;
}
/* header style section close */
/* action section start */
.action-section {
  display: flex;
  width: 1140px;
  margin-top: 115px;
  align-items: center;
}
.action-header {
  width: 520px;
  margin: 0;
}
.action-header h1 {
  font-size: 42px;
  font-weight: bold;
}
.action-header p {
  color: #8e8f99;
  font-size: 24px;
  margin: 25px 0;
}
.action-img {
  margin-right: 0;
}
.action-img img {
  text-align: right;
  border-radius: 48px;
}
/* action section close */
/* user counting section start */
.user-counting-section {
  background-color: #e6e8ff;
  width: 1140px;
  margin-top: 115px;
  padding: 50px 80px;
  border-radius: 24px;
}
.user-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.user-number {
  font-size: 80px;
  color: #4e47ff;
}
.user-footer {
  color: #8e8f99;
  font-size: 20px;
}
.user-counting-container {
  display: flex;
}
/* user counting section close */
/* review section start */
.review-section {
  margin-top: 130px;
  width: 1140px;
}
.review-title h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.review-wrapper {
  display: flex;
}
.review-continer {
  width: 367px;
  padding: 0 24px 24px 24px;
  background-color: #fafcff;
  border-radius: 14px;
}
.for-margin {
  margin-left: 20px;
  margin-right: 20px;
}
.review-star {
  margin: 20px 0;
}
.review-detail p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 20px;
}
.review-person {
  display: flex;
}
.review-person-img {
  margin: 0;
}
.review-person-img img {
  border-radius: 50%;
}
.review-person-name {
  margin: 0;
  padding-left: 10px;
}
.review-person-name h1 {
  color: #757575;
}
.review-person-name p {
  color: #8e8f99;
  font-size: 20px;
}
/* review section close */
/* focus section start */
.focus-section {
  width: 1140px;
  background-color: #ffffff;
  border-radius: 14px;
  margin-top: 135px;
  padding: 70px 150px;
}
.focus-section-detail {
  text-align: center;
}
.focus-section h1 {
  font-size: 50px;
}
.focus-section p {
  font-size: 20px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 20px;
}
.focus-section-detail img {
  border-radius: 48px;
  margin-top: 20px;
}
/* focus section close */
/* form section start */
.form-section {
  width: 1140px;
  padding: 70px 0;
  margin-top: 90px;
  display: flex;
}
.form-header {
  width: 530px;
  margin: 0;
}
.form-header h1 {
  font-size: 97px;
  font-weight: bold;
}
form {
  margin-right: 0;
  text-align: left;
  display: inline-block;
  width: 500px;
}
.form-field {
  list-style: none;
}
.form-field li {
  font-size: 20px;
  width: 100%;
}
.form-field li input {
  width: 100%;
  padding: 20px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: none;
}
input::placeholder {
  color: #757575;
  font-size: 20px;
}
textarea {
  font-family: "Inter", sans-serif;
  padding: 20px 32px;
  margin: 10px 0 0 0;
  border-style: none;
  width: 100%;
  resize: none;
  font-size: 20px;
  border-radius: 10px;
}
/* form section close */
/* footer section start */
footer {
  width: 1140px;
}
.footer-container {
  width: 630px;
  text-align: center;
  padding: 105px 0;
}
.footer-container p {
  color: #8e8f99;
  font-size: 20px;
  margin: 10px 0 20px 0;
}
.footer-nav {
  list-style: none;
  display: flex;
}
.footer-nav a {
  text-decoration: none;
  color: #8e8f99;
}
/* footer section close */
